@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

:root {
  --page-bg: #f9f5f2;
  --bg: #f0f4f3;
  --theme: #f7694d;
  --theme-two: #ffffff;
  --text: #697a79;
}

.signupWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--page-bg);
}

main.signupPanel {
  max-width: 900px;
  width: 90vw;
  background: var(--theme-two);
  border-radius: 20px;
  box-shadow: 0 2px 5px -6px var(--text), 0 0 30px -50px var(--text);
  display: flex;
}

main.signupPanel .signupPanel__half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  padding: 2rem 1rem;
}

main.signupPanel h2 {
  font-family: "Outfit", sans-serif;
  font-size: 1.9rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

main.signupPanel p {
  font-family: "Outfit", sans-serif;
  margin: 0.5rem 0 2rem;
  max-width: 25ch;
  font-size: 0.95rem;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}

main.signupPanel button {
  color: inherit;
  font-family: "Outfit", sans-serif;
}

main.signupPanel form {
  display: flex;
  flex-direction: column;
}

main.signupPanel form input {
  margin: 0.5rem 0;
  width: 200px;
  border-radius: 50px;
  padding: 1rem 0.75rem;
  background: var(--bg);
  border: none;
  color: black;
  font-family: "Outfit", sans-serif;
}

main.signupPanel form input::placeholder {
  opacity: 0.8;
}

main.signupPanel #signupSubmitButton,
main.signupPanel #loginButton {
  background: none;
  border: 1px solid currentColor;
  border-radius: 50px;
  padding: 0.85rem 2.75rem;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.signupPanel__half.signupHalf--first {
  flex-grow: 1;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.signupPanel__half.signupHalf--first #loginButton {
  background: var(--theme);
  color: var(--theme-two);
}

.signupPanel__half.signupHalf--first #loginButton:hover {
  cursor: pointer;
}

.signupPanel__half.signupHalf--second {
  background: var(--theme-two);
  color: var(--theme);
}

.signupPanel__half.signupHalf--second #signupSubmitButton:hover {
  cursor: pointer;
}

.signupPanel__half.signupHalf--second {
  background: var(--theme);
  color: var(--theme-two);
  padding: 2rem;
  flex-grow: 2;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 650px) {
  main.signupPanel {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
  }
}
