.landingPageWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--page-bg);
}

.userButtons,
.notUserButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingButton {
  background: none;
  border: 1px solid currentColor;
  border-radius: 50px;
  padding: 0.85rem 2.75rem;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

/* .notUserButtons {
    display: flex;
    justify-content: center;
    align-items: center;
} */
