.card {
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

/* Header */

.postLocation {
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.postLocation .locationIcon {
  font-size: 120%;
}

.postLocation h6 {
  font-size: 98%;
  margin-left: 0.5rem;
}

/* Image */

.card .postImage {
  width: 100%;
  height: 100%;
}

/* Status */

.card .status {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .likeComment {
  display: flex;
  align-items: center;
}

.card .likeComment .likeIcon {
  color: red;
}

.card .likeComment .likeIcon,
.card .likeComment .unLikeIcon,
.card .likeComment .commentIcon {
  margin-right: 0.2rem;
  font-size: 190%;
}

.card .likeComment .likeIcon:hover,
.card .likeComment .unLikeIcon:hover,
.card .likeComment .commentIcon:hover {
  cursor: pointer;
}

.card .likeComment p {
  font-size: 140%;
  color: #262626;
  margin-right: 0.6rem;
}

.card .viewPost button {
  font-size: 90%;
  border: none;
  padding: 0.2rem 0.4rem;
  border-radius: 0.7rem;
  background-color: #f7694d;
  color: white;
  font-weight: bold;
}
